<p>Hello {{legal_name}},</p>
<p>Your account in the Citrus System has just been created successfully. Please login using the information below:</p>
<p>Username: {{email}}</p>
<p>Password: {{password}}</p>
<p>You can login at: <a target="_blank" href={{url}}> {{url}}</a>. After logging in for the first time, please change your password to ensure the system's security.</p>